.cardStyle {
  /* background-color: rgba(128, 128, 128, 0.438); */
  background-color: rgba(255, 255, 255, 0.514);
  width: 300px;
  flex-direction: column;
  text-shadow: 1px 1px 1px 1px grey
}

.formStyle{
  width: 300px;
}

.imageStyle{
  width: 100%
}
.selected{
  text-decoration: line-through;
  color: rgb(34, 34, 34);
  text-shadow: 1px 1px 1px 1px grey
}

.quoteStyle{
  background-color: rgba(255, 255, 255, 0.514);
  color: rgb(0, 0, 255);
  text-shadow: 1px 1px 1px 1px grey
}

.weatherStyle{
  background-color: rgba(255, 255, 255, 0.514);
  /* background-color: rgba(255, 255, 255, 0.24); */
  text-shadow: 1px 1px 1px 1px grey;
  width: auto;
  color: blue
}